watch_file pyproject.toml
eval "$(pixi shell-hook)"
export PATH="$PATH:$HOME/Library/TinyTeX/bin/universal-darwin"
export SPEASY_SKIP_INIT_PROVIDERS=1
export OVERLEAF_ID=664f7b472768760cf7d6321c
export OVERLEAF_FMT="agu-pdf"
export JULIA_NUM_THREADS=auto