/overleaf/
/_manuscript/
*_files/

# temporarily ignore all figures
# figures/
*.pdf

*.html

# data/
# *.arrow
data/archive
*.cdf

_docs/
_proc/

/.quarto/
/_site/

.DS_Store
.CondaPkg

__pycache__ 
# pixi environments
.pixi

*.egg-info
.vscode

# julia environments
Manifest.toml